*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

#header{
  width: 100%;
  height: 100vh;
  /* background-image: url(../Image/IMG_1853.JPG);
  background-size: cover;
  background-position: center; */
}

#header-container{
  display: flex;
  flex-direction: column;
}
.pic{
  margin-top: -150px;
  z-index: -1;

}
.header-name{
  font-size: 3rem;
}
.header-name-m{
  font-size: 4rem;
  color: olive;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
nav ul{
  text-align: center;

}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: "";
  position: absolute;
  width: 0;
  bottom: -5px;
  left: 0;
  height: 3px;
  background: olive;
  font-size: 2rem;
}

nav  ul li a:hover::after{
  text-decoration: underline olive;
  cursor: pointer;
  transition: .5s;
  bottom: 5px;
  width: 100%;
  bottom: -5px;
}

.header-text{
  margin-top: 5%;
}

img{
  width: 100%;
  height: 100%;
  justify-content: left;
}
/*about*/
.about-col-1{
align-items: left;
width: 40%;
flex-basis: 35%;
}
.about-col-1 img{
  border-radius: 15px;
}
#about{
  padding: 90px 0;
  color: olive;
}

.row{
  display: flex;
 justify-content: flex-start;
 justify-content: space-between;
}

.about-col-2{
  flex-basis: 60%;
}
.about-col-2 h2{
  text-align: center;
  padding-bottom: 15px;
  font-size: 2rem;
}

.about-col-2 p{
  color: white;
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
  text-align: center;
}
/*End About*/

/*work*/
#work{
  padding: 90px 0;
  color: olive;
}

.work-col-1{
  flex-basis: 30%;
  border-right: solid;
}
.work-col-1 h2{
  text-align: center;
  font-size: 2rem;
}
.work-col-1 p{
  color: white;
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
  text-align: center;
  padding-top: 5%;
  }

.work-col-2{
  flex-basis: 65%;
}

.work-col-2 img{
  border-radius: 15px;
}

.application1{
  width: 100%;
  position: relative;
  text-align: center;
  color: black;
  border: solid olive;
  border-radius: 15px;
  }

.application2{
  width: 50%;
  position: relative;
  text-align: center;
  color: black;
  border: solid olive;
  border-radius: 15px;
}

.bottom-left{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.application1:hover{
  transform: scale(1.05);
  transition: .5s;
}

.application2:hover{
  transform: scale(1.05);
  transition: .5s;
  margin-right: 10px;
  margin-left: 10px;
}
/*end work*/
/*start contact*/
.contact-col-1{
  display: flex;
  flex-basis: 30%;
  color: olive;
  padding: 10px;
  border-right: solid;
  }
  .contact-col-2{
    display: flex;
    flex-basis: 70%;
    justify-content: space-around;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    display: block;
    }
  #contact{
    padding-bottom: 20px;
  }
  /*end contact */
  footer{
    text-align: center;
    padding: 20px;
    margin-top: 90px;

  }


nav .fa-regular, .fa-circle-xmark, .fa-solid, .fa-bars{
  display: none;
}
 
  @media screen and (max-width: 771px) {
    .header-name{
      text-align: center;
      justify-content: center;
      align-content: center;
      margin: 0 30% 0;
      
    }
    #header{
      background-position: right;
      background-size: 100%;
      background-repeat: no-repeat;
      
    }
    nav{
      display: center;
    }

    nav ul{
      justify-content: center;
    }
    nav ul li{
      display: block;
      flex-direction: column;
    }

    .header-text{
      text-align: center;
    }

    
    .work-col-2{
      flex-basis: 80%;
      padding-right: 0;
    }
    .contact-col-2{
      display: block;
    }
  }
  @media screen and (max-width: 480px) {
    nav ul li a{
      font-size: .7rem;
    }
    nav ul li{
      display: inline-block;
      margin-left: 20px;
    }
    .row{
      display: block;
      flex-direction: column;
    }
    .about-col-1 img{
      justify-content: center;
      margin-left: 80%;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    #about .container .row{
      border: dotted olive 4px;
    }
    .work-col-1{
      flex-basis: 30%;
      border-bottom: solid;
      border-right: none;
      margin-bottom: 10px;
    }
    .work-col-2 .container .row .application2{
      width: 90%;
      margin-left: 10px;
    }
    .contact-col-1{
      border-right: none;
      border-bottom: solid;
    }
    .application2:hover{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .pic{
      margin-top: -70px;
    }
  }